@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.AdminId)
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        <br />
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        <br />
        @Html.Label("Yetki")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Ekle</button>
    </div>
}