@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Girişi</h2>

@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık")
        @Html.HiddenFor(x => x.HeadingID)
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
        <br />
        @Html.Label("Tarih")
        @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.category, new
   { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID)
        <br />
        @Html.Label("Yazar")
        @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.writer, new
{ @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterID)
        <br />
        <button class="btn btn-info">Ekle</button>
    </div>

}